## Analysis

In [1]:
import numpy as np
import pandas as pd
from tqdm import tqdm_notebook
import datetime
import seaborn as sns
import matplotlib.pyplot as plt

# Impact Of Airline Tweets in the Sentiment Of A Conversation

Dataset of conversations & Dates as downloaded here
https://drive.google.com/open?id=13v22L7LXIElILm2M4vfdfeo9sMjyqIOM

In [2]:
df = pd.read_csv('rawdates.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df['mean_sentiment'].astype(float, inplace=True).describe()

count    372429.000000
mean          0.542905
std           0.584006
min           0.000000
25%           0.000000
50%           0.500000
75%           1.000000
max           2.000000
Name: mean_sentiment, dtype: float64

In [4]:
df.head()

,Unnamed: 0,False,conversation_id,raw_tweets_info,conversation_length,tweet_ids,user_ids,airlines_involved,mean_sentiment,sentiments,full_text,dates
0,0,0,5,"[(747530773037780992, 31132554), (747526794446...",2,"[747526794446802944, 747530773037780992]","[22873368, 31132554]",['No airlines involved'],NaN,"[nan, 1]",['Hey @British_Airways our @easyJet flight Ven...,"['Mon Jun 27 20:27:30 +0000 2016', 'Mon Jun 27..."
1,1,1,6,"[(747530681509625860, 417945325), (74745123859...",2,"[747451238598475776, 747530681509625860]","[55904765, 417945325]",['No airlines involved'],0.0,"[0, 0]",['@easyJet thanks for looking after my luggage...,"['Mon Jun 27 15:27:16 +0000 2016', 'Mon Jun 27..."
2,2,2,11,"[(747530531475173376, 597673831), (74752831114...",2,"[747528311144734720, 747530531475173376]","[427951650, 597673831]",['No airlines involved'],0.5,"[1, 0]","[""@British_Airways I booked via Expedia. I'm n...","['Mon Jun 27 20:33:32 +0000 2016', 'Mon Jun 27..."
3,3,3,12,"[(747530509098450944, 1624311463), (7475297117...",2,"[747529711782244352, 747530509098450944]","[1624311463, 1624311463]",['No airlines involved'],0.0,"[0, 0]",['@easyJet is there anyway to travel with 2 ca...,"['Mon Jun 27 20:39:06 +0000 2016', 'Mon Jun 27..."
4,4,4,14,"[(747530348561571840, 154605692), (74752081839...",2,"[747520818398232576, 747530348561571840]","[117754884, 154605692]",['No airlines involved'],0.5,"[1, 0]",['@easyJet how nice of you not to reply to my ...,"['Mon Jun 27 20:03:46 +0000 2016', 'Mon Jun 27..."

## User sentiment before and after customer support

In [5]:
#helper functions
def append_row(df, entry):
    assert len(df.columns) == len(entry), "Not enough data"
    df2 = pd.DataFrame([entry,], columns=df.columns)
    return df.append(df2, ignore_index=True)

def time_delta(datestring1, datestring2):
    date1 = datetime.datetime.strptime(datestring1, '%a %b %d %H:%M:%S +0000 %Y')
    date2 = datetime.datetime.strptime(datestring2, '%a %b %d %H:%M:%S +0000 %Y')
    timedelta = date2 - date1
    return(timedelta.seconds)

In [74]:
def add_sentiment_change(df):
    total = 0
    errors = 0
    
    airline_names = ["KLM", "AirFrance", "British_Airways", "AmericanAir", "Lufthansa", 
                    "AirBerlin", "AirBerlin assist", "easyJet", "RyanAir", "SingaporeAir", 
                    "Qantas", "EtihadAirways", "VirginAtlantic"]
    airline_ids = ["56377143", "106062176", "18332190", "22536055", 
                    "124476322", "26223583", "2182373406", "38676903", 
                    "1542862735", "253340062", "218730857", "45621423", "20626359"]
    
    
    df_interaction = pd.DataFrame(columns=['replyTime', 'sentChange'])
    sentchange = []
    #find interactions
    for data in df[['user_ids', 'sentiments', 'dates','airlines_involved', 'conversation_length']].values:
        total +=1
        if (total % 1000 == 0):
            print("at" + str(total))
            
        all_ids = eval(data[0])
        all_airlinesinvolved = eval(data[3])
        current_sentchanges = []
        NoError = False
        
        if (data[3] == "['No airlines involved]") or (data[4] < 3):
            sentchange.append([])
            #error += 1
        else:
            try: 
                all_sentiments = eval(data[1])
                all_dates = eval(data[2])
            
                sentiment_before = []
                sentiment_after = []
                StateIsAfter = False
                NoError = True
            except NameError:
                errors += 1
                
            if NoError:
                i = 0
                while i < len(all_ids):
                    while (i < len(all_ids)) and (str(all_ids[i]) not in airline_ids):
                        if StateIsAfter:
                            sentiment_after.append(all_sentiments[i])
                        else:
                            sentiment_before.append(all_sentiments[i])
                        i += 1

                    if StateIsAfter:
                        if ((len(sentiment_before) > 0) and (len(sentiment_after) > 0)):
                            sentimpact = sum(sentiment_before)/len(sentiment_before) - sum(sentiment_after)/len(sentiment_after)
                            current_sentchanges.append(sentimpact)
                            StateIsAfter = False
                            sentiment_before = sentiment_after
                            sentiment_after = []
                            i += 1
                        else:
                            StateIsAfter = False
                            i += 1
                    else:
                        StateIsAfter = True
                        i += 1

    #             except NameError:
    #                 errors += 1
                #print(current_sentchanges)
                sentchange.append(current_sentchanges)
            else:
                sentchange.append([])
        
    
    df["SentChange"] = sentchange
    
    print('errors: ' + str(errors))
    print('total: ' + str(total))
    return df

In [75]:
df = add_sentiment_change(df)

at1000
at2000
at3000
at4000
at5000
at6000
at7000
at8000
at9000
at10000
at11000
at12000
at13000
at14000
at15000
at16000
at17000
at18000
at19000
at20000
at21000
at22000
at23000
at24000
at25000
at26000
at27000
at28000
at29000
at30000
at31000
at32000
at33000
at34000
at35000
at36000
at37000
at38000
at39000
at40000
at41000
at42000
at43000
at44000
at45000
at46000
at47000
at48000
at49000
at50000
at51000
at52000
at53000
at54000
at55000
at56000
at57000
at58000
at59000
at60000
at61000
at62000
at63000
at64000
at65000
at66000
at67000
at68000
at69000
at70000
at71000
at72000
at73000
at74000
at75000
at76000
at77000
at78000
at79000
at80000
at81000
at82000
at83000
at84000
at85000
at86000
at87000
at88000
at89000
at90000
at91000
at92000
at93000
at94000
at95000
at96000
at97000
at98000
at99000
at100000
at101000
at102000
at103000
at104000
at105000
at106000
at107000
at108000
at109000
at110000
at111000
at112000
at113000
at114000
at115000
at116000
at117000
at118000
at119000
at120000
at121000
at122000
at123000
at124000
at125000
at126000
at127000
at128000
at129000
at130000
at131000
at132000
at133000
at134000
at135000
at136000
at137000
at138000
at139000
at140000
at141000
at142000
at143000
at144000
at145000
at146000
at147000
at148000
at149000
at150000
at151000
at152000
at153000
at154000
at155000
at156000
at157000
at158000
at159000
at160000
at161000
at162000
at163000
at164000
at165000
at166000
at167000
at168000
at169000
at170000
at171000
at172000
at173000
at174000
at175000
at176000
at177000
at178000
at179000
at180000
at181000
at182000
at183000
at184000
at185000
at186000
at187000
at188000
at189000
at190000
at191000
at192000
at193000
at194000
at195000
at196000
at197000
at198000
at199000
at200000
at201000
at202000
at203000
at204000
at205000
at206000
at207000
at208000
at209000
at210000
at211000
at212000
at213000
at214000
at215000
at216000
at217000
at218000
at219000
at220000
at221000
at222000
at223000
at224000
at225000
at226000
at227000
at228000
at229000
at230000
at231000
at232000
at233000
at234000
at235000
at236000
at237000
at238000
at239000
at240000
at241000
at242000
at243000
at244000
at245000
at246000
at247000
at248000
at249000
at250000
at251000
at252000
at253000
at254000
at255000
at256000
at257000
at258000
at259000
at260000
at261000
at262000
at263000
at264000
at265000
at266000
at267000
at268000
at269000
at270000
at271000
at272000
at273000
at274000
at275000
at276000
at277000
at278000
at279000
at280000
at281000
at282000
at283000
at284000
at285000
at286000
at287000
at288000
at289000
at290000
at291000
at292000
at293000
at294000
at295000
at296000
at297000
at298000
at299000
at300000
at301000
at302000
at303000
at304000
at305000
at306000
at307000
at308000
at309000
at310000
at311000
at312000
at313000
at314000
at315000
at316000
at317000
at318000
at319000
at320000
at321000
at322000
at323000
at324000
at325000
at326000
at327000
at328000
at329000
at330000
at331000
at332000
at333000
at334000
at335000
at336000
at337000
at338000
at339000
at340000
at341000
at342000
at343000
at344000
at345000
at346000
at347000
at348000
at349000
at350000
at351000
at352000
at353000
at354000
at355000
at356000
at357000
at358000
at359000
at360000
at361000
at362000
at363000
at364000
at365000
at366000
at367000
at368000
at369000
at370000
at371000
at372000
at373000
at374000
at375000
at376000
at377000
at378000
at379000
at380000
at381000
at382000
at383000
at384000
at385000
at386000
at387000
at388000
at389000
at390000
at391000
at392000
at393000
at394000
at395000
at396000
at397000
at398000
at399000
at400000
at401000
at402000
at403000
at404000
at405000
at406000
at407000
at408000
at409000
at410000
at411000
at412000
at413000
at414000
at415000
at416000
at417000
at418000
at419000
at420000
at421000
at422000
at423000
at424000
at425000
at426000
at427000
at428000
errors: 16166
total: 428627

In [88]:
#df['SentChange'].info()
df[df.astype(str)['SentChange'] != '[]']

,Unnamed: 0,False,conversation_id,raw_tweets_info,conversation_length,tweet_ids,user_ids,airlines_involved,mean_sentiment,sentiments,full_text,dates,SentChange
6,6,6,29,"[(747529324358737921, 43028454), (747526420449...",3,"[747470611002331136, 747526420449075200, 74752...","[43028454, 18332190, 43028454]",['British_Airways'],0.000000,"[0, 0, 0]",['@British_Airways I am thinking of booking a ...,"['Mon Jun 27 16:44:15 +0000 2016', 'Mon Jun 27...",[0.0]
52,52,52,238,"[(747518975861481473, 4897552792), (7474571214...",3,"[746060507132551168, 747457121487314944, 74751...","[4897552792, 38676903, 4897552792]",['easyJet'],1.333333,"[2, 2, 0]","[""@KLM Is the IPhone App working, all of a sud...","['Thu Jun 23 19:21:00 +0000 2016', 'Mon Jun 27...",[2.0]
151,151,151,725,"[(747489335960797184, 2792150643), (7474870309...",4,"[746028652589113344, 746057572654981120, 74748...","[2792150643, 2792150643, 38676903, 2792150643]",['easyJet'],0.250000,"[0, 1, 0, 0]",['@StephenCur Yes if you have confirmation fro...,"['Thu Jun 23 17:14:25 +0000 2016', 'Thu Jun 23...",[0.5]
167,167,167,790,"[(747486121010036737, 4830697389), (7474837636...",3,"[747418252771483648, 747483763647610880, 74748...","[225883022, 38676903, 4830697389]",['easyJet'],0.000000,"[0, 0, 0]","[""se vcs manda um 'podemos prosseguir?' e eu r...","['Mon Jun 27 13:16:12 +0000 2016', 'Mon Jun 27...",[0.0]
189,189,189,884,"[(747479155214815232, 44423326), (747425502277...",3,"[745876909158993920, 747425502277812224, 74747...","[44423326, 38676903, 44423326]",['easyJet'],0.000000,"[0, 0, 0]",['@Ryanair can I take a suit bag and little sp...,"['Thu Jun 23 07:11:27 +0000 2016', 'Mon Jun 27...",[0.0]
259,259,259,1149,"[(747463323701092352, 241112930), (74746236141...",3,"[747454797050175488, 747462361414504448, 74746...","[241112930, 2182373406, 241112930]",['AirBerlin assist'],0.000000,"[0, 0, 0]","[""@AmericanAir wonder what kind of treat I'm i...","['Mon Jun 27 15:41:25 +0000 2016', 'Mon Jun 27...",[0.0]
289,289,289,1300,"[(747453981836840961, 29170825), (747453666693...",4,"[747440864495083520, 747450530675437568, 74745...","[14582769, 1542862735, 29170825, 29170825]",['RyanAir'],0.750000,"[1, 1, 0, 1]","[""@AmericanAir longer delay no crew. It's cle...","['Mon Jun 27 14:46:03 +0000 2016', 'Mon Jun 27...",[0.5]
291,291,291,1308,"[(747453685454770177, 57650131), (746634218818...",4,"[745214469358428160, 746610630786973696, 74663...","[57650131, 38676903, 57650131, 57650131]",['easyJet'],1.000000,"[1, 1, 1, 1]","[""Can't explain my anger at being misinformed ...","['Tue Jun 21 11:19:09 +0000 2016', 'Sat Jun 25...",[0.0]
334,334,334,1561,"[(747438210754744320, 412511466), (74743253351...",3,"[745772750166499328, 747432533516816384, 74743...","[412511466, 38676903, 412511466]",['easyJet'],1.000000,"[0, 1, 2]",['Am I allowed to take my DJI Phantom 3 onto a...,"['Thu Jun 23 00:17:34 +0000 2016', 'Mon Jun 27...",[-2.0]
345,345,345,1622,"[(747434096524148736, 713489638330122240), (74...",3,"[747415842791489536, 747433835948810240, 74743...","[713489638330122240, 56377143, 713489638330122...",['KLM'],1.000000,"[1, 0, 2]","['Got live person, asks ridiculous question an...","['Mon Jun 27 13:06:37 +0000 2016', 'Mon Jun 27...",[-1.0]
417,417,417,2045,"[(747408302234009600, 1862534881), (7474007137...",3,"[747391263066963968, 747400713777586176, 74740...","[1862534881, 56377143, 1862534881]",['KLM'],0.666667,"[0, 2, 0]","['@British_Airways can he travel with it , in ...","['Mon Jun 27 11:28:57 +0000 2016', 'Mon Jun 27...",[0.0]
470,470,470,2357,"[(754049589267738624, 22536055), (754036388371...",4,"[754022693259743232, 754035043639578624, 75403...","[265524558, 22536055, 265524558, 22536055]",['AmericanAir'],0.000000,"[0, 0, 0, 0]","['Well that was fun, 3 hours of sleep over 30 ...","['Fri Jul 15 18:39:53 +0000 2016', 'Fri Jul 15...",[0.0]
475,475,475,2373,"[(754048970473734144, 23097643), (754042750421...",3,"[754029527802736640, 754042750421479424, 75404...","[23097643, 22536055, 23097643]",['AmericanAir'],0.333333,"[0, 1, 0]","[""@British_Airways unable to pay for my baggag...","['Fri Jul 15 19:07:03 +0000 2016', 'Fri Jul 15...",[0.0]
479,479,479,2383,"[(754048584140500993, 22536055), (754036849375...",6,"[754016889668456448, 754017598929375232, 75402...","[100955638, 100955638, 22536055, 100955638, 10...",['AmericanAir'],0.333333,"[0, 0, 1, 1, 0, 0]",['@EtihadAirways Ian still not able to take my...,"['Fri Jul 15 18:16:50 +0000 2016', 'Fri Jul 15...",[-0.5]
480,480,480,2387,"[(754048448773718016, 18668938), (754048266837...",3,"[754047588056305664, 754048266837327872, 75404...","[18668938, 20626359, 18668938]",['VirginAtlantic'],0.000000,"[0, 0, 0]",['@KLM Waarom telkens nieuwe gegevens vragen e...,"['Fri Jul 15 20:18:49 +0000 2016', 'Fri Jul 15...",[0.0]
482,482,482,2389,"[(754048386471452672, 627857207), (75404753346...",3,"[754034565287645184, 754047533463154688, 75404...","[627857207, 22536055, 627857207]",['AmericanAir'],0.000000,"[0, 0, 0]",['@AmericanAir you REALLY suck. PHI-DFW flight...,"['Fri Jul 15 19:27:04 +0000 2016', 'Fri Jul 15...",[0.0]
487,487,487,2396,"[(754048104668758016, 304673389), (75404727790...",3,"[754034266833494016, 754047277908361216, 75404...","[979244184, 22536055, 304673389]",['AmericanAir'],1.000000,"[1, 2, 0]",['@VirginAtlantic still missing my bag. Day 16...,"['Fri Jul 15 19:25:53 +0000 2016', 'Fri Jul 15...",[1.0]
493,493,493,2407,"[(754047470305480704, 14245547), (754047272975...",3,"[754034389877657600, 754047272975945728, 75404...","[14245547, 22536055, 14245547]",['AmericanAir'],1.000000,"[1, 0, 2]",['@Ryanair our flight from Riejka has just bee...,"['Fri Jul 15 19:26:22 +0000 2016', 'Fri Jul 15...",[-1.0]
496,496,496,2414,"[(754047280349450241, 40198711), (754047023687...",4,"[754034149594312704, 754035481700990976, 75404...","[40198711, 40198711, 22536055, 40198711]",['AmericanAir'],0.000000,"[0, 0, 0, 0]","['@AmericanAir got a ""form letter"" reply to my...","['Fri Jul 15 19:25:25 +0000 2016', 'Fri Jul 15...",[0.0]
503,503,503,2428,"[(754046701401505792, 399484788), (75383413198...",3,"[753673669520527360, 753834131985805312, 75404...","[399484788, 18332190, 399484788]",['British_Airways'],0.666667,"[0, 0, 2]","[""@deckerjh We've responded to your DM."", ""@Am...","['Thu Jul 14 19:33:00 +0000 2016', 'Fri Jul 15...",[-2.0]
514,514,514,2451,"[(754045609783459840, 62319156), (754044801494...",3,"[753913319430451200, 754044801494949888, 75404...","[62319156, 18332190, 62319156]",['British_Airways'],0.333333,"[0, 0, 1]",['Hi @AmericanAir CM folks. Can you tell me wh...,"['Fri Jul 15 11:25:17 +0000 2016', 'Fri Jul 15...",[-1.0]
517,517,517,2456,"[(754045242601373696, 22536055), (754032975499...",4,"[754015143839793152, 754026313447452672, 75403...","[1705577306, 22536055, 1705577306, 22536055]",['AmericanAir'],1.500000,"[1, 1, 2, 2]","[""@damonftlangdon Hi! Mascara is considered a ...","['Fri Jul 15 18:09:53 +0000 2016', 'Fri Jul 15...",[-1.0]
535,535,535,2484,"[(754044300418252801, 14425872), (753993192299...",3,"[753987561803096064, 753993192299565056, 75404...","[14425872, 22536055, 14425872]",['AmericanAir'],0.333333,"[0, 1, 0]","['Thanks to @British_Airways, great customer s...","['Fri Jul 15 16:20:17 +0000 2016', 'Fri Jul 15...",[0.0]
538,538,538,2488,"[(754044198689513472, 37683392), (754038537951...",3,"[754030580459708416, 754038537951977472, 75404...","[37683392, 22536055, 37683392]",['AmericanAir'],0.000000,"[0, 0, 0]","['My latest""accessory""for my bum ankleðŸ˜’ Any ti...","['Fri Jul 15 19:11:14 +0000 2016', 'Fri Jul 15...",[0.0]
547,547,547,2506,"[(754043543434432513, 456908146), (75404323337...",5,"[754035127777431552, 754035722940710912, 75403...","[456908146, 124476322, 456908146, 456908146, 4...",['Lufthansa'],1.000000,"[1, 1, 1, 0, 2]","['@British_Airways unfortunately, no. I am lea...","['Fri Jul 15 19:29:18 +0000 2016', 'Fri Jul 15...",[0.0]
550,550,550,2509,"[(754043310319267840, 19814065), (754042662852...",5,"[754040329809068032, 754041544852828160, 75404...","[19814065, 1542862735, 19814065, 1542862735, 1...",['RyanAir'],0.800000,"[0, 1, 1, 0, 2]",['@AmericanAir was diverted to Austin got take...,"['Fri Jul 15 19:49:58 +0000 2016', 'Fri Jul 15...",[-1.0]
557,557,557,2520,"[(754042826342686720, 56377143), (754015545607...",6,"[753644589073006592, 753683090954825728, 75377...","[18432332, 56377143, 18432332, 56377143, 18432...",['KLM'],0.666667,"[0, 0, 2, 2, 0, 0]","['@British_Airways all your lines are engaged,...","['Thu Jul 14 17:37:26 +0000 2016', 'Thu Jul 14...",[-2.0]
562,562,562,2530,"[(754042533144125440, 26387006), (754036057209...",3,"[754034337700540416, 754036057209909248, 75404...","[26387006, 22536055, 26387006]",['AmericanAir'],0.000000,"[0, 0, 0]",['.@AmericanAir please give flight attendants ...,"['Fri Jul 15 19:26:10 +0000 2016', 'Fri Jul 15...",[0.0]
563,563,563,2531,"[(754042406102716416, 22536055), (754028890931...",4,"[754013541452111872, 754025930910158848, 75402...","[35796010, 22536055, 35796010, 22536055]",['AmericanAir'],0.000000,"[0, 0, 0, 0]",['@easyJet do I need Id to fly within the UK w...,"['Fri Jul 15 18:03:31 +0000 2016', 'Fri Jul 15...",[0.0]
566,566,566,2534,"[(754042355599093764, 19870342), (754041863837...",3,"[754029454792335360, 754041863837855744, 75404...","[19870342, 22536055, 19870342]",['AmericanAir'],0.000000,"[0, 0, 0]","[""@sladeslants We currently don't have an Admi...","['Fri Jul 15 19:06:45 +0000 2016', 'Fri Jul 15...",[0.0]
...,...,...,...,...,...,...,...,...,...,...,...,...,...
428463,428463,428463,1072222,"[(780726087819071489, 1542862735), (7807244419...",4,"[780714748165951488, 780717067225931776, 78072...","[176859161, 1542862735, 176859161, 1542862735]",['RyanAir'],0.500000,"[0, 1, 1, 0]",NaN,"['Tue Sep 27 10:24:35 +0000 2016', 'Tue Sep 27...",[-1.0]
428466,428466,428466,1072229,"[(780724999418109952, 22536055), (780724462161...",4,"[780723117127790592, 780723471588306944, 78072...","[30920225, 22536055, 30920225, 22536055]",['AmericanAir'],1.750000,"[1, 2, 2, 2]",NaN,"['Tue Sep 27 10:57:50 +0000 2016', 'Tue Sep 27...",[-1.0]
428472,428472,428472,1072247,"[(780723828112711680, 253340062), (78071021493...",4,"[780692748584247296, 780700994732785664, 78071...","[48918945, 253340062, 48918945, 253340062]",['SingaporeAir'],1.000000,"[2, 1, 0, 1]",NaN,"['Tue Sep 27 08:57:10 +0000 2016', 'Tue Sep 27...",[2.0]
428473,428473,428473,1072248,"[(780723549061451776, 634856088), (78072188486...",3,"[780720259900829696, 780721884866412544, 78072...","[634856088, 56377143, 634856088]",['KLM'],1.000000,"[0, 1, 2]",NaN,"['Tue Sep 27 10:46:29 +0000 2016', 'Tue Sep 27...",[-2.0]
428476,428476,428476,1072258,"[(780722756853694465, 22536055), (780722498610...",4,"[780721201329147904, 780721539100454912, 78072...","[205796907, 22536055, 205796907, 22536055]",['AmericanAir'],0.750000,"[0, 2, 1, 0]",NaN,"['Tue Sep 27 10:50:14 +0000 2016', 'Tue Sep 27...",[-1.0]
428477,428477,428477,1072260,"[(780722462501797889, 228776393), (78072225441...",5,"[780718544724033536, 780719697251753984, 78072...","[228776393, 1542862735, 228776393, 1542862735,...",['RyanAir'],0.200000,"[0, 0, 0, 1, 0]",NaN,"['Tue Sep 27 10:39:40 +0000 2016', 'Tue Sep 27...",[0.0]
428478,428478,428478,1072267,"[(780721931393916928, 28962987), (780721355549...",5,"[780718460179451904, 780718554131812352, 78072...","[28962987, 22536055, 28962987, 22536055, 28962...",['AmericanAir'],1.600000,"[1, 1, 2, 2, 2]",NaN,"['Tue Sep 27 10:39:20 +0000 2016', 'Tue Sep 27...",[-1.0]
428483,428483,428483,1072281,"[(780721010219679745, 17749145), (780707486567...",3,"[780707083725398016, 780707486567239680, 78072...","[17749145, 22536055, 17749145]",['AmericanAir'],0.666667,"[0, 2, 0]",NaN,"['Tue Sep 27 09:54:08 +0000 2016', 'Tue Sep 27...",[0.0]
428487,428487,428487,1072285,"[(780720333460471808, 133037332), (78071865492...",3,"[780715864966492160, 780718654925185024, 78072...","[133037332, 20626359, 133037332]",['VirginAtlantic'],1.333333,"[1, 1, 2]",NaN,"['Tue Sep 27 10:29:01 +0000 2016', 'Tue Sep 27...",[-1.0]
428510,428510,428510,1072335,"[(780716024547115008, 1542862735), (7807123899...",4,"[780692101243801600, 780694740756987904, 78071...","[31426254, 1542862735, 31426254, 1542862735]",['RyanAir'],1.750000,"[2, 2, 2, 1]",NaN,"['Tue Sep 27 08:54:36 +0000 2016', 'Tue Sep 27...",[0.0]
428515,428515,428515,1072363,"[(780713970990739456, 1268532848), (7807136546...",3,"[780711785712197632, 780713654614228992, 78071...","[1268532848, 22536055, 1268532848]",['AmericanAir'],0.333333,"[0, 0, 1]",NaN,"['Tue Sep 27 10:12:49 +0000 2016', 'Tue Sep 27...",[-1.0]
428523,428523,428523,1072386,"[(780711749053886464, 22536055), (780711139638...",6,"[780684674456780800, 780685385647009792, 78070...","[4773962723, 22536055, 4773962723, 22536055, 4...",['AmericanAir'],0.000000,"[0, 0, 0, 0, 0, 0]",NaN,"['Tue Sep 27 08:25:05 +0000 2016', 'Tue Sep 27...",[0.0]
428530,428530,428530,1072401,"[(780710613572055040, 1678320660), (7807103683...",3,"[780709796282527744, 780710368364625920, 78071...","[1678320660, 20626359, 1678320660]",['VirginAtlantic'],1.333333,"[1, 1, 2]",NaN,"['Tue Sep 27 10:04:54 +0000 2016', 'Tue Sep 27...",[-1.0]
428533,428533,428533,1072414,"[(780710037287206912, 20626359), (780708894368...",4,"[780695094253027328, 780700824641167360, 78070...","[36882486, 20626359, 36882486, 20626359]",['VirginAtlantic'],1.000000,"[1, 1, 1, 1]",NaN,"['Tue Sep 27 09:06:29 +0000 2016', 'Tue Sep 27...",[0.0]
428537,428537,428537,1072429,"[(780708409137958914, 721698202332872704), (78...",3,"[780698930250002432, 780702812208594944, 78070...","[721698202332872704, 1542862735, 7216982023328...",['RyanAir'],0.666667,"[0, 2, 0]",NaN,"['Tue Sep 27 09:21:44 +0000 2016', 'Tue Sep 27...",[0.0]
428544,428544,428544,1072447,"[(780707252617482240, 85350459), (780703564549...",3,"[780701817328009216, 780703564549255168, 78070...","[85350459, 1542862735, 85350459]",['RyanAir'],0.666667,"[1, 1, 0]",NaN,"['Tue Sep 27 09:33:12 +0000 2016', 'Tue Sep 27...",[1.0]
428546,428546,428546,1072454,"[(780706406391439360, 22536055), (780704035682...",4,"[780700032169349120, 780700318480728064, 78070...","[10034472, 22536055, 10034472, 22536055]",['AmericanAir'],1.250000,"[2, 1, 0, 2]",NaN,"['Tue Sep 27 09:26:07 +0000 2016', 'Tue Sep 27...",[2.0]
428547,428547,428547,1072459,"[(780706042057527296, 1437778471), (7807058306...",9,"[780693573318610944, 780695022027042816, 78069...","[1437778471, 1542862735, 1437778471, 154286273...",['RyanAir'],0.666667,"[0, 2, 0, 0, 1, 1, 0, 2, 0]",NaN,"['Tue Sep 27 09:00:27 +0000 2016', 'Tue Sep 27...","[0.0, 0.5]"
428551,428551,428551,1072475,"[(780704293355659264, 1070418386), (7807041679...",3,"[780702732097298432, 780704167937642496, 78070...","[1070418386, 1542862735, 1070418386]",['RyanAir'],1.000000,"[0, 2, 1]",NaN,"['Tue Sep 27 09:36:50 +0000 2016', 'Tue Sep 27...",[-1.0]
428572,428572,428572,1072537,"[(780699383595532289, 2359796360), (7806981014...",3,"[780697412268457984, 780698101455532032, 78069...","[2359796360, 22536055, 2359796360]",['AmericanAir'],0.333333,"[0, 1, 0]",NaN,"['Tue Sep 27 09:15:42 +0000 2016', 'Tue Sep 27...",[0.0]
428574,428574,428574,1072542,"[(780698862319173633, 25973222), (780698341290...",3,"[780697904193339392, 780698341290061824, 78069...","[25973222, 22536055, 25973222]",['AmericanAir'],0.000000,"[0, 0, 0]",NaN,"['Tue Sep 27 09:17:39 +0000 2016', 'Tue Sep 27...",[0.0]
428588,428588,428588,1072575,"[(780694533357133824, 728233534473777157), (78...",3,"[780685782755450880, 780688117921619968, 78069...","[728233534473777157, 20626359, 728233534473777...",['VirginAtlantic'],1.000000,"[1, 0, 2]",NaN,"['Tue Sep 27 08:29:29 +0000 2016', 'Tue Sep 27...",[-1.0]
428593,428593,428593,1072588,"[(780693749831700480, 861075427), (78069206224...",3,"[780691096724770816, 780692062245097472, 78069...","[861075427, 1542862735, 861075427]",['RyanAir'],1.333333,"[1, 1, 2]",NaN,"['Tue Sep 27 08:50:36 +0000 2016', 'Tue Sep 27...",[-1.0]
428594,428594,428594,1072591,"[(780693656810520576, 807052674), (78069313727...",3,"[780691809299300352, 780693137278832640, 78069...","[807052674, 1542862735, 807052674]",['RyanAir'],0.000000,"[0, 0, 0]",NaN,"['Tue Sep 27 08:53:26 +0000 2016', 'Tue Sep 27...",[0.0]
428596,428596,428596,1072597,"[(780692916163514368, 282975100), (78069215752...",3,"[780690186116161536, 780692157522935808, 78069...","[282975100, 124476322, 282975100]",['Lufthansa'],0.333333,"[0, 1, 0]",NaN,"['Tue Sep 27 08:46:59 +0000 2016', 'Tue Sep 27...",[0.0]
428597,428597,428597,1072599,"[(780692812912324608, 23750080), (780691837388...",3,"[780691039849963520, 780691837388460032, 78069...","[23750080, 1542862735, 23750080]",['RyanAir'],0.666667,"[0, 2, 0]",NaN,"['Tue Sep 27 08:50:23 +0000 2016', 'Tue Sep 27...",[0.0]
428600,428600,428600,1072607,"[(780692058373779456, 17665608), (780691706853...",3,"[780691340191555584, 780691706853232640, 78069...","[17665608, 22536055, 17665608]",['AmericanAir'],0.666667,"[1, 0, 1]",NaN,"['Tue Sep 27 08:51:34 +0000 2016', 'Tue Sep 27...",[0.0]
428611,428611,428611,1072640,"[(780688982975909889, 1542862735), (7806884939...",4,"[780685744725716992, 780688027563790336, 78068...","[1050458174, 1542862735, 1050458174, 1542862735]",['RyanAir'],1.250000,"[1, 1, 1, 2]",NaN,"['Tue Sep 27 08:29:20 +0000 2016', 'Tue Sep 27...",[0.0]
428613,428613,428613,1072649,"[(780688433639526400, 487925090), (78068834969...",3,"[780686878676836352, 780688349690462208, 78068...","[487925090, 1542862735, 487925090]",['RyanAir'],1.333333,"[1, 1, 2]",NaN,"['Tue Sep 27 08:33:50 +0000 2016', 'Tue Sep 27...",[-1.0]
428620,428620,428620,1072675,"[(780685532959342592, 22536055), (780684850005...",4,"[780683611846668288, 780684372575825920, 78068...","[2435911395, 22536055, 2435911395, 22536055]",['AmericanAir'],0.000000,"[0, 0, 0, 0]",NaN,"['Tue Sep 27 08:20:52 +0000 2016', 'Tue Sep 27...",[0.0]

In [86]:
df.to_csv('conversations_with_sentimpact.csv')

In [87]:
df

,Unnamed: 0,False,conversation_id,raw_tweets_info,conversation_length,tweet_ids,user_ids,airlines_involved,mean_sentiment,sentiments,full_text,dates,SentChange
0,0,0,5,"[(747530773037780992, 31132554), (747526794446...",2,"[747526794446802944, 747530773037780992]","[22873368, 31132554]",['No airlines involved'],NaN,"[nan, 1]",['Hey @British_Airways our @easyJet flight Ven...,"['Mon Jun 27 20:27:30 +0000 2016', 'Mon Jun 27...",[]
1,1,1,6,"[(747530681509625860, 417945325), (74745123859...",2,"[747451238598475776, 747530681509625860]","[55904765, 417945325]",['No airlines involved'],0.000000,"[0, 0]",['@easyJet thanks for looking after my luggage...,"['Mon Jun 27 15:27:16 +0000 2016', 'Mon Jun 27...",[]
2,2,2,11,"[(747530531475173376, 597673831), (74752831114...",2,"[747528311144734720, 747530531475173376]","[427951650, 597673831]",['No airlines involved'],0.500000,"[1, 0]","[""@British_Airways I booked via Expedia. I'm n...","['Mon Jun 27 20:33:32 +0000 2016', 'Mon Jun 27...",[]
3,3,3,12,"[(747530509098450944, 1624311463), (7475297117...",2,"[747529711782244352, 747530509098450944]","[1624311463, 1624311463]",['No airlines involved'],0.000000,"[0, 0]",['@easyJet is there anyway to travel with 2 ca...,"['Mon Jun 27 20:39:06 +0000 2016', 'Mon Jun 27...",[]
4,4,4,14,"[(747530348561571840, 154605692), (74752081839...",2,"[747520818398232576, 747530348561571840]","[117754884, 154605692]",['No airlines involved'],0.500000,"[1, 0]",['@easyJet how nice of you not to reply to my ...,"['Mon Jun 27 20:03:46 +0000 2016', 'Mon Jun 27...",[]
5,5,5,17,"[(747530128947740672, 3929595672), (7474305579...",2,"[747430557924024320, 747530128947740672]","[3838021994, 3929595672]",['No airlines involved'],1.000000,"[1, 1]","['@amyrose2392 Hey, sorry for the late reply. ...","['Mon Jun 27 14:05:06 +0000 2016', 'Mon Jun 27...",[]
6,6,6,29,"[(747529324358737921, 43028454), (747526420449...",3,"[747470611002331136, 747526420449075200, 74752...","[43028454, 18332190, 43028454]",['British_Airways'],0.000000,"[0, 0, 0]",['@British_Airways I am thinking of booking a ...,"['Mon Jun 27 16:44:15 +0000 2016', 'Mon Jun 27...",[0.0]
7,7,7,53,"[(747528315452416000, 1032224154), (7474209962...",2,"[747420996232163328, 747528315452416000]","[1032224154, 1032224154]",['No airlines involved'],NaN,"[1, nan]",['.@easyJet both flights been delayed by 2+ ho...,"['Mon Jun 27 13:27:06 +0000 2016', 'Mon Jun 27...",[]
8,8,8,56,"[(747528297282699264, 3860009236), (7474514991...",2,"[747451499102539776, 747528297282699264]","[259582885, 3860009236]",['No airlines involved'],0.000000,"[0, 0]",['@easyJet trying to add seats to booking made...,"['Mon Jun 27 15:28:19 +0000 2016', 'Mon Jun 27...",[]
9,9,9,58,"[(747528180848680964, 23534495), (747465580945...",3,"[747448843353001984, 747465580945412096, 74752...","[23534495, 627363, 23534495]",['No airlines involved'],0.000000,"[0, 0, 0]",['@easyJet do i believe the app that says we a...,"['Mon Jun 27 15:17:45 +0000 2016', 'Mon Jun 27...",[]
10,10,10,61,"[(747528072459616257, 4430938097), (7474923001...",2,"[747492300180365312, 747528072459616257]","[1298806298, 4430938097]",['No airlines involved'],0.000000,"[0, 0]",['I suffer from anxiety and stress and am very...,"['Mon Jun 27 18:10:26 +0000 2016', 'Mon Jun 27...",[]
11,11,11,76,"[(747527495541460992, 221789813), (74752658410...",2,"[747526584106651648, 747527495541460992]","[57268394, 221789813]",['No airlines involved'],0.500000,"[1, 0]","[""@easyJet is there any reason you've boarded ...","['Mon Jun 27 20:26:40 +0000 2016', 'Mon Jun 27...",[]
12,12,12,78,"[(747527306093207556, 38676903), (746140168281...",2,"[746140168281808896, 747527306093207556]","[154549930, 38676903]",['easyJet'],0.000000,"[0, 0]","[""@robedwards100 I'm really sorry to hear that...","['Fri Jun 24 00:37:33 +0000 2016', 'Mon Jun 27...",[]
13,13,13,89,"[(747527078405341188, 2918656216), (7475266266...",7,"[747510713703272448, 747524146276499456, 74752...","[4275245413, 3843064953, 4275245413, 291865621...",['No airlines involved'],0.857143,"[2, 0, 0, 0, 1, 1, 2]",['@easyJet Will the Glasgow - Marrakech flight...,"['Mon Jun 27 19:23:36 +0000 2016', 'Mon Jun 27...",[]
14,14,14,98,"[(747526928739991552, 433532798), (74752667202...",4,"[747446609563295744, 747526423645163520, 74752...","[231302287, 433532798, 468514099, 433532798]",['No airlines involved'],0.750000,"[0, 1, 0, 2]",['@easyJet I have my boarding pass on my mobil...,"['Mon Jun 27 15:08:53 +0000 2016', 'Mon Jun 27...",[]
15,15,15,101,"[(747526839724294144, 436880096), (74739863067...",2,"[747398630672338944, 747526839724294144]","[436880096, 436880096]",['No airlines involved'],NaN,"[nan, nan]","['@harmverberne Hey, really sorry for the late...","['Mon Jun 27 11:58:14 +0000 2016', 'Mon Jun 27...",[]
16,16,16,104,"[(747526748229804032, 786984061), (74752658179...",3,"[747520318500179968, 747526581795586048, 74752...","[786984061, 730725320, 786984061]",['No airlines involved'],0.000000,"[0, 0, 0]",['Hello @easyJet what is the procedure to file...,"['Mon Jun 27 20:01:46 +0000 2016', 'Mon Jun 27...",[]
17,17,17,107,"[(747526492897304577, 18332190), (747502522882...",2,"[747502522882007040, 747526492897304577]","[51187732, 18332190]",['British_Airways'],1.500000,"[1, 2]","['@lyndsaybird11 Hi, Can you please submit a c...","['Mon Jun 27 18:51:04 +0000 2016', 'Mon Jun 27...",[]
18,18,18,109,"[(747526323623559168, 4342563615), (7475258848...",2,"[747525884807155712, 747526323623559168]","[306686182, 4342563615]",['No airlines involved'],NaN,"[nan, nan]",['@jkwan217 @airberlin my hotel have been grea...,"['Mon Jun 27 20:23:53 +0000 2016', 'Mon Jun 27...",[]
19,19,19,113,"[(747526202378752000, 36540831), (747522333221...",2,"[747522333221412864, 747526202378752000]","[36540831, 36540831]",['No airlines involved'],1.000000,"[2, 0]","['Hallo @airberlin, ich wÃ¼rde euch gern ein - ...","['Mon Jun 27 20:09:47 +0000 2016', 'Mon Jun 27...",[]
20,20,20,114,"[(747526180232892416, 730725320), (74752422454...",2,"[747524224546377728, 747526180232892416]","[21479647, 730725320]",['No airlines involved'],0.000000,"[0, 0]","['@easyJet thanks for ignoring :)', ""@NatSimps...","['Mon Jun 27 20:17:18 +0000 2016', 'Mon Jun 27...",[]
21,21,21,118,"[(747525876888252416, 19961734), (747524635898...",2,"[747524635898576896, 747525876888252416]","[17865136, 19961734]",['No airlines involved'],NaN,"[nan, nan]",['@easyJet if my flight has been cancelled can...,"['Mon Jun 27 20:18:56 +0000 2016', 'Mon Jun 27...",[]
22,22,22,130,"[(747525195657846787, 317027497), (74752499308...",2,"[747524993081348096, 747525195657846787]","[62526578, 317027497]",['No airlines involved'],0.000000,"[0, 0]",['@williamjoly Je vous invite Ã consulter ce l...,"['Mon Jun 27 20:20:21 +0000 2016', 'Mon Jun 27...",[]
23,23,23,133,"[(747524990329884672, 240593037), (73978727480...",2,"[739787274808872960, 747524990329884672]","[240593037, 240593037]",['No airlines involved'],0.000000,"[0, 0]","[""Whether flying you home or away, we're proud...","[nan, 'Mon Jun 27 20:20:20 +0000 2016']",[]
24,24,24,139,"[(747524806615117826, 317027497), (74752399010...",4,"[747519034992824320, 747523784983351296, 74752...","[62526578, 317027497, 62526578, 317027497]",['No airlines involved'],0.250000,"[0, 0, 0, 1]",['@easyJet hi there. Can I ask what email addr...,"['Mon Jun 27 19:56:40 +0000 2016', 'Mon Jun 27...",[]
25,25,25,143,"[(747524702055370752, 38676903), (746128392970...",2,"[746128392970469376, 747524702055370752]","[47170747, 38676903]",['easyJet'],0.000000,"[0, 0]","[""@Ryanair Hi! How do I get a receipt/invoice ...","['Thu Jun 23 23:50:45 +0000 2016', 'Mon Jun 27...",[]
26,26,26,147,"[(747524451454050304, 1168751665), (7475242993...",2,"[747524299351855104, 747524451454050304]","[3293373294, 1168751665]",['No airlines involved'],0.000000,"[0, 0]",['Hi @easyJet would you waive baggage fee one ...,"['Mon Jun 27 20:17:35 +0000 2016', 'Mon Jun 27...",[]
27,27,27,151,"[(747524088701263872, 167735114), (74751548424...",2,"[747515484245897216, 747524088701263872]","[2188699646, 167735114]",['No airlines involved'],0.500000,"[1, 0]",['Stand tall - 19.40m! #YankeeTango\n#MondayMo...,"['Mon Jun 27 19:42:34 +0000 2016', 'Mon Jun 27...",[]
28,28,28,152,"[(747523990747549696, 2707195405), (7475175096...",2,"[747517509696389120, 747523990747549696]","[2707195405, 2707195405]",['No airlines involved'],0.000000,"[0, 0]","['@ramblingroisin Hi, I am sorry but I suggest...","['Mon Jun 27 19:50:37 +0000 2016', 'Mon Jun 27...",[]
29,29,29,153,"[(747523972019945473, 4430550922), (7474979595...",2,"[747497959516962816, 747523972019945473]","[140202624, 4430550922]",['No airlines involved'],0.000000,"[0, 0]","["".@easyJet thanks x canceling my flight less ...","['Mon Jun 27 18:32:56 +0000 2016', 'Mon Jun 27...",[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...
428597,428597,428597,1072599,"[(780692812912324608, 23750080), (780691837388...",3,"[780691039849963520, 780691837388460032, 78069...","[23750080, 1542862735, 23750080]",['RyanAir'],0.666667,"[0, 2, 0]",NaN,"['Tue Sep 27 08:50:23 +0000 2016', 'Tue Sep 27...",[0.0]
428598,428598,428598,1072600,"[(780692630028050432, 48918945), (780691990497...",2,"[780691990497398784, 780692630028050432]","[19617105, 48918945]",['No airlines involved'],1.500000,"[1, 2]",NaN,"['Tue Sep 27 08:54:09 +0000 2016', 'Tue Sep 27...",[]
428599,428599,428599,1072606,"[(780692237307015168, 253340062), (78068642907...",2,"[780686429072429056, 780692237307015168]","[2592902274, 253340062]",['SingaporeAir'],1.000000,"[0, 2]",NaN,"['Tue Sep 27 08:32:03 +0000 2016', 'Tue Sep 27...",[]
428600,428600,428600,1072607,"[(780692058373779456, 17665608), (780691706853...",3,"[780691340191555584, 780691706853232640, 78069...","[17665608, 22536055, 17665608]",['AmericanAir'],0.666667,"[1, 0, 1]",NaN,"['Tue Sep 27 08:51:34 +0000 2016', 'Tue Sep 27...",[0.0]
428601,428601,428601,1072608,"[(780691859446325248, 19617105), (780689357481...",2,"[780689357481050112, 780691859446325248]","[48918945, 19617105]",['No airlines involved'],0.000000,"[0, 0]",NaN,"['Tue Sep 27 08:43:41 +0000 2016', 'Tue Sep 27...",[]
428602,428602,428602,1072610,"[(780691785714728961, 106062176), (78068582360...",2,"[780685823607967744, 780691785714728961]","[2534764710, 106062176]",['AirFrance'],1.000000,"[2, 0]",NaN,"['Tue Sep 27 08:29:39 +0000 2016', 'Tue Sep 27...",[]
428603,428603,428603,1072611,"[(780691691607031808, 1542862735), (7806903823...",2,"[780690382325702656, 780691691607031808]","[311944919, 1542862735]",['RyanAir'],1.000000,"[1, 1]",NaN,"['Tue Sep 27 08:47:46 +0000 2016', 'Tue Sep 27...",[]
428604,428604,428604,1072614,"[(780691460538691584, 1542862735), (7806882532...",2,"[780688253255086080, 780691460538691584]","[113466518, 1542862735]",['RyanAir'],NaN,"[nan, nan]",NaN,"['Tue Sep 27 08:39:18 +0000 2016', 'Tue Sep 27...",[]
428605,428605,428605,1072616,"[(780690945184587776, 26223583), (780689395712...",2,"[780689395712155648, 780690945184587776]","[119995926, 26223583]",['AirBerlin'],NaN,"[nan, nan]",NaN,"['Tue Sep 27 08:43:51 +0000 2016', 'Tue Sep 27...",[]
428606,428606,428606,1072618,"[(780690555957342208, 2182373406), (7806876742...",2,"[780687674235621376, 780690555957342208]","[78841551, 2182373406]",['AirBerlin assist'],NaN,"[nan, nan]",NaN,"['Tue Sep 27 08:37:00 +0000 2016', 'Tue Sep 27...",[]
428607,428607,428607,1072619,"[(780690484574519296, 473132686), (78069035454...",2,"[780690354542641152, 780690484574519296]","[36768644, 473132686]",['No airlines involved'],0.500000,"[0, 1]",NaN,"['Tue Sep 27 08:47:39 +0000 2016', 'Tue Sep 27...",[]
428608,428608,428608,1072633,"[(780689327252701184, 367686906), (78068918775...",2,"[780689187758600192, 780689327252701184]","[367686906, 367686906]",['No airlines involved'],NaN,"[nan, 1]",NaN,"['Tue Sep 27 08:43:01 +0000 2016', 'Tue Sep 27...",[]
428609,428609,428609,1072636,"[(780689223804416000, 106062176), (78068538645...",2,"[780685386452504576, 780689223804416000]","[4709234482, 106062176]",['AirFrance'],1.000000,"[0, 2]",NaN,"['Tue Sep 27 08:27:55 +0000 2016', 'Tue Sep 27...",[]
428610,428610,428610,1072638,"[(780689135950528512, 409941587), (78068873429...",3,"[780685543705305088, 780688734299811840, 78068...","[38676903, 21337129, 409941587]",['easyJet'],0.666667,"[0, 0, 2]",NaN,"['Tue Sep 27 08:28:32 +0000 2016', 'Tue Sep 27...",[]
428611,428611,428611,1072640,"[(780688982975909889, 1542862735), (7806884939...",4,"[780685744725716992, 780688027563790336, 78068...","[1050458174, 1542862735, 1050458174, 1542862735]",['RyanAir'],1.250000,"[1, 1, 1, 2]",NaN,"['Tue Sep 27 08:29:20 +0000 2016', 'Tue Sep 27...",[0.0]
428612,428612,428612,1072648,"[(780688468565458944, 48918945), (780688057817...",2,"[780688057817268224, 780688468565458944]","[48918945, 48918945]",['No airlines involved'],0.000000,"[0, 0]",NaN,"['Tue Sep 27 08:38:32 +0000 2016', 'Tue Sep 27...",[]
428613,428613,428613,1072649,"[(780688433639526400, 487925090), (78068834969...",3,"[780686878676836352, 780688349690462208, 78068...","[487925090, 1542862735, 487925090]",['RyanAir'],1.333333,"[1, 1, 2]",NaN,"['Tue Sep 27 08:33:50 +0000 2016', 'Tue Sep 27...",[-1.0]
428614,428614,428614,1072657,"[(780687315601620992, 110183063), (78068672956...",2,"[780686729569271808, 780687315601620992]","[110183063, 110183063]",['No airlines involved'],NaN,"[nan, nan]",NaN,"['Tue Sep 27 08:33:15 +0000 2016', 'Tue Sep 27...",[]
428615,428615,428615,1072659,"[(780687124706238464, 782894244), (78068634281...",2,"[780686342812467200, 780687124706238464]","[281080285, 782894244]",['No airlines involved'],NaN,"[nan, nan]",NaN,"['Tue Sep 27 08:31:43 +0000 2016', 'Tue Sep 27...",[]
428616,428616,428616,1072664,"[(780686733969088512, 124476322), (78068446039...",3,"[780683349904023552, 780684460396257280, 78068...","[124476322, 282975100, 124476322]",['Lufthansa'],NaN,"[0, nan, 1]",NaN,"['Tue Sep 27 08:19:49 +0000 2016', 'Tue Sep 27...",[]
428617,428617,428617,1072671,"[(780686193826664449, 487925090), (78068609549...",2,"[780686095499616256, 780686193826664449]","[487925090, 487925090]",['No airlines involved'],1.000000,"[1, 1]",NaN,"['Tue Sep 27 08:30:44 +0000 2016', 'Tue Sep 27...",[]
428618,428618,428618,1072672,"[(780686163459858436, 45621423), (780684568215...",2,"[780684568215056384, 780686163459858436]","[100710625, 45621423]",['EtihadAirways'],2.000000,"[2, 2]",NaN,"['Tue Sep 27 08:24:40 +0000 2016', 'Tue Sep 27...",[]
428619,428619,428619,1072674,"[(780685560742551554, 467233947), (78068401782...",2,"[780684017821622272, 780685560742551554]","[436110943, 467233947]",['No airlines involved'],0.000000,"[0, 0]",NaN,"['Tue Sep 27 08:22:28 +0000 2016', 'Tue Sep 27...",[]
428620,428620,428620,1072675,"[(780685532959342592, 22536055), (780684850005...",4,"[780683611846668288, 780684372575825920, 78068...","[2435911395, 22536055, 2435911395, 22536055]",['AmericanAir'],0.000000,"[0, 0, 0, 0]",NaN,"['Tue Sep 27 08:20:52 +0000 2016', 'Tue Sep 27...",[0.0]
428621,428621,428621,1072676,"[(780685522758930432, 1542862735), (7806833875...",2,"[780683387560456192, 780685522758930432]","[369156907, 1542862735]",['RyanAir'],1.500000,"[1, 2]",NaN,"['Tue Sep 27 08:19:58 +0000 2016', 'Tue Sep 27...",[]
428622,428622,428622,1072684,"[(780684712817913856, 1362948756), (7806827952...",2,"[780682795215642624, 780684712817913856]","[38676903, 1362948756]",['easyJet'],NaN,"[1, nan]",NaN,"['Tue Sep 27 08:17:37 +0000 2016', 'Tue Sep 27...",[]
428623,428623,428623,1072685,"[(780684402691014657, 45621423), (780683273467...",2,"[780683273467035648, 780684402691014657]","[100710625, 45621423]",['EtihadAirways'],0.000000,"[0, 0]",NaN,"['Tue Sep 27 08:19:31 +0000 2016', 'Tue Sep 27...",[]
428624,428624,428624,1072693,"[(780683517629956096, 107695463), (78068264685...",2,"[780682646854787072, 780683517629956096]","[224166213, 107695463]",['No airlines involved'],0.500000,"[1, 0]",NaN,"['Tue Sep 27 08:17:02 +0000 2016', 'Tue Sep 27...",[]
428625,428625,428625,1072699,"[(780683208509779969, 154614128), (78068295214...",2,"[780682952145371136, 780683208509779969]","[22536055, 154614128]",['AmericanAir'],0.500000,"[1, 0]",NaN,"['Tue Sep 27 08:18:14 +0000 2016', 'Tue Sep 27...",[]
428626,428626,428626,1072704,"[(780682812005486592, 165883353), (78068265510...",2,"[780682655104991232, 780682812005486592]","[220691420, 165883353]",['No airlines involved'],1.000000,"[0, 2]",NaN,"['Tue Sep 27 08:17:04 +0000 2016', 'Tue Sep 27...",[]